

footer.footer {
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 250px;
  padding-right: 250px;
  font-size: 80%
}

a {
  color: #17a2b8 !important;
}

@media (max-width: 991px) {
  footer.footer {
    padding-left: 0;
    padding-right: 0;
  }
}