
<h1 class="mt-4 mb-3">Life Insurance
  <small>Products</small>
</h1>

<section id="team" class="pb-5">
<div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <product-card>
        <img class="card-image" src="../../assets/term-life.jpg" alt="Insurance">
        <ng-container class="title-front">Term Life Insurance</ng-container>
        <ng-container class="text-front">The term life insurance plan from us is a conventional life insurance policy that provides the essential protection
          in case of death or disabilities.</ng-container>
        <ng-container class="text-back">The future holds many surprises, some of which might be unpleasant. This is why it is important to provide a financial
          protection coverage that will ensure financial independence to the family and maintain the same lifestyle for
          them.
        </ng-container>
        <ng-container class="title-back">Term Life Insurance</ng-container>
        <a class="link" routerLink="/products/term-life">More Details</a>
      </product-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <product-card>
        <img class="card-image" src="../../assets/whole-life.jpg" alt="Insurance">
        <ng-container class="title-front">Whole Life Insurance</ng-container>
        <ng-container class="text-front">It typically offers guaranteed acceptance and builds cash value over time. It pays its benefit as long as premiums
          have been paid.</ng-container>
        <ng-container class="text-back">Whole life insurance is a type of permanent life insurance coverage designed to last from the time you purchase
          your policy through the remainder of your life.</ng-container>
        <ng-container class="title-back">Whole Life Insurance</ng-container>
        <a class="link" routerLink="/products/whole-life">More Details</a>
      </product-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <product-card>
        <img class="card-image" src="../../assets/term-life.jpg" alt="Insurance">
        <ng-container class="title-front">Universal Life Insurance</ng-container>
        <ng-container class="text-front">Combine lifetime insurance coverage with tax-advantaged investing to protect my heirs or my assets..</ng-container>
        <ng-container class="text-back">Whole life insurance is a type of permanent life insurance coverage designed to last from the time you purchase
          your policy through the remainder of your life.</ng-container>
        <ng-container class="title-back">Universal Life Insurance</ng-container>
        <a class="link" routerLink="/products/universal-life">More Details</a>
      </product-card>
    </div>
  </div>
</div>
</section>
