<div class="container">
  <div class="jumbotron p-3 p-md-5 text-dark rounded ">
    <!-- <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Term Life Insurance</h1>
      <p class="lead my-3">Term insurance provides you with insurance protection for only a fixed period of time. It pays the sum assured only upon the death of the insured or if the insured becomes totally and permanently disabled (if this benefit is provided) during this period.</p>
      <p class="lead mb-0">
        <a routerLink="/quote/term-life" class="text-dark font-weight-bold">Get a Quote</a>
      </p>
    </div> -->
  </div>

</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <!-- <h3 class="pb-3 mb-4 font-italic border-bottom">
        What is Term Life Insurance ?
      </h3> -->

      <div class="blog-post">
        <h2 class="blog-post-title">What is Term Life Insurance ?</h2>
       
        <hr>
        <p>Term Life Insurance is temporary life insurance, designed to provide coverage for a set period of time. The most common durations (terms) are 10, 15, 20, 25, 30 and 35 years. Like auto insurance or homeowners insurance it provides protection for you and your family in the event of an accident, or in the case of life insurance, an unplanned death. Over the course of the term, you have fixed premiums that remain unchanged for the duration of the term. At the end of the term, insurance companies or carrier can renew, change, or cancel your policy.

            Video Term Life Insurance Basics
            Most life insurance companies will continue to renew at the end of the term, but the premiums typically skyrocket. As a result, most people end up dropping the coverage at that point, as it is no longer affordable. The exception to this is when the insured is very sick and no longer capable of qualifying for a new life insurance policy.
            
            Like all Life Insurance, Term Life Insurance companies will pay the face value of your policy tax-free to your designated beneficiary (or beneficiaries) in the event of your untimely death.</p>
       
       
        <h2>Features of Term Life Insurance</h2>
        <p>Affordable — term costs less than permanent insurance, at least during the initial level term period
            It turns pennies into dollars at the exact moment those dollars are needed most (this is a benefit of ALL life insurance, not just term!)
            Easy to understand and provides great value for your money, coverage is temporary (10 up to 35 years)
            Serves as income replacement if you (as the breadwinner) die, giving your family tax free dollars to use for college tuition, weddings, mortgage payments, bills and other expenses
            Allows a policyholder to buy riders (add-ons) that attach to your term policy (if basic term life insurance doesn’t cover all your needs)
            In most cases, you can convert your term policy into a permanent one without a medical exam. Make sure to find out how long that option is available to you. If there’s any possibility you’ll want to extend your coverage beyond the term, conversion could be extremely valuable for you – especially if your health ever declines.</p>
  
   </div>
   

      <nav class="blog-pagination">
        <a class="btn btn-primary" routerLink="/quote/term-life">Get a Quote !</a>
      </nav>

    </div>
    <!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 rounded">
        
        <a class="btn btn-primary" routerLink="/quote/term-life">Get a Quote !</a>
      </div>

      <div class="p-3">
        <h4 class="">Related products</h4><hr>
        <ol class="list-unstyled mb-0">
          <li>
            <a href="#">Whole Life Insurance</a>
          </li>
          <li>
            <a href="#">Direct Purchase Insurance</a>
          </li>
          <li>
            <a href="#">Endowment Insurance</a>
          </li>
          <li>
            <a href="#">Investement Linked Insurance</a>
          </li>
          <li>
            <a href="#">Annuities</a>
          </li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="">Elsewhere</h4><hr>
        <ol class="list-unstyled">
          <li>
            <a href="#">Home Insurance</a>
          </li>
          <li>
            <a href="#">Health Insurance</a>
          </li>
          <li>
            <a href="#">Motor Insurance</a>
          </li>
        </ol>
      </div>
    </aside>
    <!-- /.blog-sidebar -->

  </div>
  <!-- /.row -->

</main>
<!-- /.container -->
