<product-item>
  <h1 class="mt-4 mb-3 title">Whole Life
    <small>Insurance</small>
  </h1>
  <div class="jumbotron full-width">
    <p>
      <a routerLink="/quote/whole-life" class="btn btn-light">Get a Quote &raquo;</a>
    </p>
  </div>
  <div class="plan">
    <p>Whole life insurance is a type of permanent life insurance coverage designed to last from the time you purchase your
      policy through the remainder of your life.</p>
    <p>It typically offers guaranteed acceptance and builds cash value over time.</p>
    <p>This kind of insurance, like term insurance, will pay your beneficiaries a specific amount of money upon your death.
      The primary difference between term and whole life is that term insurance provides coverage for a set period (10 or
      20 years, for instance), while whole life insurance pays its benefit as long as premiums have been paid.</p>
  </div>
  <div class="advantages">
    <p class="card-text">Protection for life – It doesn’t expire or go down in value.</p>
    <hr>
    <p>Level Premiums – The rate you pay for your policy will never increase.</p>
    <hr>
    <p>Cash Value – A portion of your premium builds cash value which can be borrowed against.</p>
    <hr>
    <p>Guaranteed Death Benefit – The amount your loved ones receive is guaranteed.</p>
  </div>
  <ng-container class="maincovers">
    <strong>Lifetime Coverage</strong> : With permanent life insurance, you are covered for life, your coverage does not end after
    a certain term.</ng-container>
  <ul class="optionalcovers">
    <li>Family Income Benefit.</li>
    <li>Accidental Death Benefit.</li>
    <li>Hospitalization Benefit.</li>
    <li>Passive War Risk: A cover in times of war or war-like circumstances, granting you protection in case of death or total
      permanent disablement.</li>
  </ul>

  <ul class="glance">
    <li>Min Entry Age : 18; Max Entry Age : 94</li>
    <li>Coverage Term : Whole Life</li>
    <li>Minimum Amount : USD 100K</li>
  </ul>

  <ul class="choice">
    <li>Are a Lebanese Citizen</li>
    <li>Are a permanent resident/landed immigrant who have been in Lebanon over 12 months</li>
    <li>Are age 40 to age 75</li>
  </ul>

  <ul class="premium">
    <li>Your premiums are guaranteed to stay the same</li>
    <li>At age 95, you no longer have to pay any premiums</li>
    <li>Pay by monthly / quarterly / half-yearly / yearly pre-authorized debit, or with PayPal if you buy online</li>
  </ul>
  <div class="exclusions">
    We will not pay the Accidental Death benefit if you die as a result of:
    <ul>
      <li> Natural causes, illness or disease</li>
      <li>Committing suicide</li>
      <li>Committing or attempting to commit a criminal act</li>
      <li>Operating a motor vehicle while your blood alcohol level is more than the legal limit when the accident occurs</li>
      <li>An illness or disease related to chronic use of alcohol</li>
      <li>Taking a drug not as it is prescribed</li>
      <li>Poisoning</li>
      <li>Injuries where there is no visible contusion</li>
      <li>Flying in any airplane, helicopter, or any other aircraft while you are a pilot or member of a crew</li>
    </ul>
  </div>


  <p class="quotelink">
    <a routerLink="/quote/whole-life" class="btn btn-danger btn-lg">Get a Quote &raquo;</a>
  </p>
</product-item>
