
  <h1 class="mt-4 mb-3">About
    <small>Us</small>
  </h1>


  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="../../assets/about.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h2>About Us</h2>
      <p>Together with our customers and sales partners, We are one of the strongest financial communities worldwide.</p>

      <p> About 85 million private and corporate customers are insured by Us. They rely on its knowledge, global reach, capital
        strength and solidity to help them make the most of their financial opportunities and to protect themselves against
        risks.
      </p>


      <p> This business success with insurance, asset management and assistance services is based on the constant increase of
        customer demand for crisis-proof financial solutions, size aging society and challenges of climate change. Transparency
        and integrity are key components of sustainable corporate governance.</p>
    </div>
  </div>

