.dropdown-toggle {
  cursor: pointer;
}

.navbar-fixed-top {
  position: fixed !important;
}

/* .bg-info {
    *background-color: #009688 !important;
} */

ul {
  list-style-type: none;
  padding-left: 0;
}

.logo {
  width: 130px
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item.active {
  background-color: #17a2b8 !important;
}

.icon-logout {
  font-weight: 1000;
}

.shop {
  font-size: 20px
}

.register {
  max-height: 37px;
  margin-left: 10px
}

.badge {
  background-color: white;
  border-radius: 10px;
  color: #e74c3c;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
