<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top navbar-fixed-top p-3 px-md-4 box-shadow">
  <!-- p-3 px-md-4     -->
  <div class="container">
    <a class="navbar-brand" routerLink="/">Life Insurance</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]=isCollapsed>
      <div class="navbar-nav mr-auto">
        <div class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle " dropdownToggle>Products</a>
          <div class="dropdown-menu" *dropdownMenu>
            <ul>
              <li>
                <a class="dropdown-item" routerLink="/products">All Products</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/products/term-life">Term Life Insurance</a>
              </li>
              <li>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/products/whole-life">Whole Life Product</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="nav-link" routerLink="/about">About</a>

      </div>
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart shop"></i>
            <span class="badge" *ngIf="cartProducts.length > 0"> Cart {{cartProducts.length}}</span>

          </a>
        </div>
        <div class="nav-item login" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
        </div>
        <div class="nav-item dropdown username" dropdown *ngIf="authService.isAuthenticated()">
          <a class="nav-link dropdown-toggle " dropdownToggle>{{authService.userInfo.firstname}} {{authService.userInfo.lastname}}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/my-orders">My Orders</a>

            <div role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
              <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">My Account
                <span class="caret"></span>
              </a>
              <div *dropdownMenu class="dropdown-menu" role="menu">
                <a class="dropdown-item" routerLinkActive="active" routerLink="/profile">My Profile</a>
                <a class="dropdown-item" routerLink="/profile/passwordChange">Change Password</a>
              </div>
            </div>

            <a class="dropdown-item" *ngIf="authService.currentUser.role.includes('ROLE_ADMIN')" routerLinkActive="active" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" *ngIf="authService.currentUser.role.includes('ROLE_ADMIN')" routerLinkActive="active" routerLink="/admin/users">Manage Users</a>
            <li class="divider dropdown-divider"></li>
            <a class="dropdown-item" style="cursor:pointer" (click)="logout()">
              <i class="icon-logout"></i> Logout</a>
          </div>
        </div>
        <a class="btn btn-outline-light active register" routerLink="/register">Register</a>
      </div>
      <!-- Search Button
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
  </div>

</nav>
