<product-item>
  <h2 class="title">Term Life Insurance </h2>
  <div class="jumbotron full-width"></div>
  <div class="plan">
    <p>The future holds many surprises, some of which might be unpleasant. This is why it is important to provide a financial
      protection coverage that will ensure financial independence to the family and maintain the same lifestyle for them.</p>
    <p>The term life insurance plan from us is a conventional life insurance policy that provides the essential protection in
      case of death or disabilities.</p>
  </div>
  <div class="advantages">
    <p class="card-text">Flexible protection options with various insurance covers and riders.</p>
    <hr>
    <p>Possibility to choose the contract period according to your age and your insurance needs.</p>
    <hr>
    <p>Flexibility to choose the renewability option to extend your coverage period.</p>
    <hr>
    <p>Flexibility of payments (monthly / quarterly / half-yearly / yearly)</p>
  </div>
  <ng-container class="maincovers"><strong>Natural or accidental death</strong>: A lump-sum amount paid to the beneficiaries of the insured in case of death.</ng-container>
  <ul class="optionalcovers">
      <li> Joint Life Option: for a spouse or business partner</li>
      <li> Renewability: For policies with periods of 5 years, we grant you the ability to renew your policy with no additional
        medical requirements.</li>
      <li> Total Permanent Disablement (TPD): In case of disablement, the main cover is paid in equal installments over 5 years.</li>
      <li> Passive War Risk: A cover in times of war or war-like circumstances, granting you protection in case of death or total
        permanent disablement (as an added option).</li>
      <li>For life insurance policies tied that are tied to an existing bank loan, we offer a Decreasing Term Life policy, allowing
        you to pay less premiums as you pay off the loan.</li>
    </ul>


  <ul class="glance">
      <li>Min Entry Age : 18; Max Entry Age : 94</li>
      <li>Coverage Term : from 15  to 35 years</li>
      <li>Minimum Premium : USD 100K</li>
    </ul>
  <p class="quotelink">
    <a routerLink="/quote/term-life" class="btn btn-info btn-lg">Get a Quote &raquo;</a>
  </p>
</product-item>
