<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-6 recovery-form">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3>
              <i class="fa fa-lock fa-4x"></i>
            </h3>
            <h2 class="text-center">Change Password</h2>
            <p>You can chamge your password here.</p>
            <div class="panel-body">

              <form id="change-form" role="form" autocomplete="off" class="form">

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-lock fa-lg"></i>
                      </span>
                    </div>
                    <input id="oldpass" name="oldpass" placeholder="Old Password" class="form-control" type="passwprd" required>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-lock fa-lg"></i>
                      </span>
                    </div>
                    <input id="newpass" name="newpass" placeholder="New Password" class="form-control" type="passwprd" required>
                  </div>
                </div>
                <div class="form-group">
                  <input name="change-submit" class="btn btn-lg btn-danger btn-block" value="Change Password" type="submit">
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
