<h1 class="mt-4 mb-3">Shopping
  <small>Cart</small>
</h1>

<div class="container mb-4">
  <div class="row">
      <div class="col-12">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Insurance Type</th>
                          <th scope="col">Package</th>
                          <th scope="col" >Coverage</th> 
                          <!-- class="text-center" -->
                          <th scope="col" >Amount</th>
                          <th scope="col" class="text-right">Price</th>
                          <th> </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of cartProducts; let i = index">
                          <td>{{item.type}}</td>
                          <td>{{item.package}}</td>
                          <td>{{item.coverage}}</td>
                          <td>{{item.amount | currency:'USD':'symbol'}}</td>
                          <td class="text-right">{{item.premium | currency:'USD':'symbol'}}</td>
                          <td class="text-right"><button type="button" (click)="delete(i)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                      </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><strong>Total</strong></td>
                          <td class="text-right"><strong>{{totalPremium | currency:'USD':'symbol'}}</strong></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="col mb-2">
          <div class="row">
              <div class="col-sm-12  col-md-6">
                  <button type="button" class="btn btn-lg btn-block btn-light">Add to WishList</button>
              </div>
              <div class="col-sm-12 col-md-6 text-right">
                  <button type="submit" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
              </div>
          </div>
      </div>
  </div>
</div>
