.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: .5
}

.top {
  color: white
}

.back-to-top:focus,
.back-to-top:hover {
  opacity: 1
}

.back-to-top i {
  font-weight: 800;
}
