<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2> No Access !
          </h2>
        <div class="error-details">
          Sorry, You dont have the privileges to access this page.
        </div>
        <div class="error-actions">
          <a routerLink="/" class="btn btn-info btn-lg">
            <i class="icon-home"></i>
            Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
