.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.print button {
    display: inline-block;
    border: 1px solid #17a2b8;
    padding: 13px 13px;
    border-radius: 5px;
    color: #17a2b8;
    font-size: 17px;
    background:none!important;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .print button:hover {
    text-decoration: none;
    border-color: #333;
    color: #333;
  }