<div class="row">
  <div class="col-md-8">
    <h1 class="mt-4 mb-3 title" *ngIf="url.includes('/register')">Registration</h1>
    <h1 class="mt-4 mb-3 title" *ngIf="authService.isAuthenticated() && (url =='/profile' || id)">Edit User Profile</h1>
    <h4 class="mb-3" *ngIf="url.includes('/register')">Create an Account</h4>
    <form class="needs-validation" (ngSubmit)="userProcess(f)" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstname">First name</label>
          <input type="text" [(ngModel)]="user.firstname" #firstname="ngModel" name="firstname" class="form-control" id="firstName"
            placeholder="Firstname" required [ngClass]="{'is-invalid': !firstname.valid && firstname.touched}">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastname">Last name</label>
          <input type="text" [(ngModel)]="user.lastname" #lastname="ngModel" class="form-control" id="lastName" name="lastname" placeholder="Lastname"
            required [ngClass]="{'is-invalid': !lastname.valid && lastname.touched}">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="email" [(ngModel)]="user.email" #email="ngModel" name="email" class="form-control" id="email" placeholder="you@example.com"
            required [ngClass]="{'is-invalid': !email.valid && email.touched}">
          <div class="invalid-feedback">
            Your email is required and should be well formated.
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="url.includes('/register')">
        <label for="password">Password</label>
        <input type="password" required [(ngModel)]="user.password" #password="ngModel" name="password" class="form-control" id="password"
          placeholder="Password" minlength="8" maxlength="30" [ngClass]="{'is-invalid': !password.valid && password.touched}"
          [pattern]="'^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$'">
        <!-- This regex will enforce these rules:
                    At least one upper case English letter, (?=.*?[A-Z])
                    At least one lower case English letter, (?=.*?[a-z])
                    At least one digit, (?=.*?[0-9])
                    At least one special character, (?=.*?[#?!@$%^&*-])
                    Minimum eight in length .{8,} (with the anchors) 
          -->

        <div class="invalid-feedback" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.minlength">Password should be minimum {{password.errors.minlength.requiredLength}} characters.</div>
          <div *ngIf="password.errors.maxlength">Password should be maximum 30 characters.</div>
          <div *ngIf="password.errors.pattern">Password is weak</div>
          <div *ngIf="!password.value">Password is invalid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="birthday">Date of Birth</label>

        <div class="row">
          <div class="col-xs-12 col-12 col-md-4 form-group">
            <input type="text" class="form-control" [maxDate]="maxDate" #dp="bsDatepicker" #birthday="ngModel" name="birthday" bsDatepicker
              [(ngModel)]="user.birthday" [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'YYYY-MM-DD'  }"
              required [ngClass]="{'is-invalid': !birthday.valid && birthday.touched}">
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group">
            <button class="btn btn-default" type="button" (click)="dp.toggle()">
              <i class="icon-calendar"></i>
            </button>
          </div>

        </div>

      </div>

      <div class="mb-3">
        <label for="address">Address </label>
        <small class="text-muted">(Optional)</small>
        <input type="text" [(ngModel)]="user.address" #address="ngModel" name="address" class="form-control" id="address" placeholder="1234 Main St">

      </div>


      <div class="mb-3">
        <label for="phone">Phone Number</label>
        <small class="text-muted">(Optional)</small>
        <input type="string" [(ngModel)]="user.phone" #phone="ngModel" name="phone" class="form-control" id="phone" placeholder="Phone Number">
      </div>
      <div class="mb-3" *ngIf="authService.isAuthenticated() && id">
        <mat-slide-toggle [(ngModel)]="user.enabled" #isenabled="ngModel" name="isenabled">Is Active</mat-slide-toggle>
      </div>

      <div class="mb-3" *ngIf="authService.isAuthenticated() && id">
          <mat-slide-toggle [(ngModel)]="isAdmin" #admin="ngModel" name="admin">Is Admin</mat-slide-toggle>
        </div>

      <hr class="mb-4">
      <button class="btn btn-info" [disabled]="!f.valid" *ngIf="url.includes('/register')">Register</button>
      <button class="btn btn-info" [disabled]="!f.valid" *ngIf="authService.isAuthenticated() && (url =='/profile' || id)">Save</button>
      <button class="btn btn-danger" type="button" (click)="delete()" *ngIf="id && authService.isAuthenticated() && authService.currentUser.role.includes('ROLE_ADMIN')">Delete</button>
    </form>


  </div>
  <div class="col-md-4 mt-4 mb-3">
    <user-item [user]="user"></user-item>
    <div class="alert alert-danger" *ngIf="failedRegistration">
      <strong>Failed!</strong> Email already exists !
    </div>
    <div class="alert alert-danger" *ngIf="failedUpdate">
      <strong>Failed!</strong> Update Request Failed !
    </div>
    <div class="alert alert-danger" *ngIf="failedDelete">
      <strong>Failed!</strong> Delete Request Failed !
    </div>
    <div class="mb-3" *ngIf="url =='/profile'">
      <a routerLink="/profile/passwordChange" class="password btn btn-danger">Change Password</a>
    </div>
  </div>

</div>
