:host ::ng-deep mat-table {
  overflow: auto;
  max-height: 500px;
}

/* Structure */

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-id {
  flex: 0 0 40px;
}

.mat-column-active {
  flex: 0 0 100px;
}

.mat-column-email {
  flex: 0 0 200px;
}

.mat-column-firstname {
  flex: 0 0 130px;
}
.mat-column-lastname {
  flex: 0 0 130px;
}
.mat-column-datecreated {
  flex: 0 0 130px;
}


mat-row:nth-child(odd) {
  background-color: #F6F6F6;
}

mat-row:hover {
  background-color: #dee2e6
}

mat-cell {
  font-weight: 800
}
