<!-- <div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
         <product-card [product]="p"></product-card>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div> -->

<!-- Team -->
<h2>Life Insurance Products</h2>
<section id="team" class="pb-5">
    <div>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="../assets/term-life1.jpg" alt="card image"></p>
                                    <h4 class="card-title">Term Life Insurance</h4>
                                    <p class="card-text">The term life insurance plan from us is a conventional life insurance policy that provides the essential protection in case of death or disabilities.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Term Life Insurance</h4>
                                    <p class="card-text">The future holds many surprises, some of which might be unpleasant. This is why it is important to provide a financial protection coverage that will ensure financial independence to the family and maintain the same lifestyle for them.</p>
                                    <a class="social-icon text-xs-center" routerLink="/products/term-life">
                                        More Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/term-life.jpg"alt="card image"></p>
                                    <h4 class="card-title">Whole Life Insurance</h4>
                                    <p class="card-text">It typically offers guaranteed acceptance and builds cash value over time.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Whole Life Insurance</h4>
                                    <p class="card-text">Whole life insurance is a type of permanent life insurance coverage designed to last from the time you purchase your policy through the remainder of your life.</p>
                                    <a class="social-icon text-xs-center" routerLink="/products/whole-life">
                                        More Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            

        </div>
    </div>
</section>