<form class="col-md-12 quote" *ngIf="!completed" (ngSubmit)="getQuoteProcess(f)" #f="ngForm" ngNativeValidate>
  <h2 *ngIf="type == 'term-life'" >Term Life Insurance Simulator</h2>
  <h2 *ngIf="type == 'whole-life'" >Whole Life Insurance Simulator</h2>
  <h2 *ngIf="type == 'universal-life'" >Universal Life Insurance Simulator</h2>
  <hr>
  <!-- <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success active progress-bar-animated" role="progressbar" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div> -->



  <mat-horizontal-stepper class="simulator">
    <mat-step label="Step 1">
      <fieldset>
        <h4>Step 1: Your Profile</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="gender">Gender</label>
            <div class="input-group">
              <select [ngModel]="userQuote.gender" #gender="ngModel" name="gender" class="form-control" id="gender" required>
                <option [ngValue]="undefined" hidden disabled selected>Choose your Gender</option>
                <option value="m">Male</option>
                <option value="f">Female</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label for="address">Date of Birth</label>

            <div class="row">
              <div class="col-xs-12 col-6 col-md-8 form-group">
                <input type="text" class="form-control" [maxDate]="maxDate" [minDate]="minDate" #dp="bsDatepicker" #birthday="ngModel" name="birthday" bsDatepicker
                  [(ngModel)]="bsValue" [bsConfig]="{ containerClass: 'theme-dark-blue'}" required>
                  <!-- dateInputFormat: 'YYYY-MM-DD',  -->
              </div>
              <div class="col-xs-12 col-6 col-md-4 form-group">
                <button class="btn btn-default" type="button" (click)="dp.toggle()"><i class="icon-calendar"></i></button>
              </div>
            </div>

          </div>


        </div>
        <div class="row">


          <div class="col-md-6 mb-3">
            <label for="country">Country</label>

            <div class="input-group">
              <div style="width:100%">
              <country-select (countryChanged) = "this.countrySelected = $event"></country-select>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="marial">Marital Status</label>
            <div class="input-group">
              
              <select [ngModel]="userQuote.marial" #marial="ngModel" name="marial" class="form-control" id="marial" required>
                <option disabled [ngValue]="undefined" hidden selected>Choose your Marital Status</option>
                <option value="s">Single</option>
                <option value="m">Married - Dont Have Children</option>
                <option value="mc">Married - Have Children</option>
                <option value="d">Divorced</option>
              </select>
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="coverage">Coverage Type</label>
            <div class="input-group">

              <div *ngIf="type =='term-life'; else permanent" style="width:100%">
              <select [ngModel]="userQuote.coverage" #coverage="ngModel" name="coverage" class="form-control" id="coverage" required>
                <option disabled [ngValue]="undefined" hidden selected>Choose your Coverage Type</option>
                <option [ngValue]="35">35-Year Guarenteed Level Term</option>
                <option [ngValue]="30">30-Year Guarenteed Level Term</option>
                <option [ngValue]="25">25-Year Guarenteed Level Term</option>
                <option [ngValue]="20">20-Year Guarenteed Level Term</option>
                <option [ngValue]="15">15-Year Guarenteed Level Term</option>
              </select>
            </div>
            <ng-template #permanent >
              <p class="form-control">Lifetime Coverage</p>
            </ng-template>

            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="amount">Coverage Amount</label>
            <div class="input-group">
              <select [ngModel]="userQuote.amount" #amount="ngModel" name="amount" class="form-control" id="amount" required>
                <option disabled [ngValue]="undefined" hidden selected>Choose your Coverage Amount</option>
                <option [ngValue]="750000">$750,000</option>
                <option [ngValue]="700000">$700,000</option>
                <option [ngValue]="650000">$650,000</option>
                <option [ngValue]="600000">$600,000</option>
                <option [ngValue]="550000">$550,000</option>
                <option [ngValue]="500000">$500,000</option>
                <option [ngValue]="450000">$450,000</option>
                <option [ngValue]="400000">$400,000</option>
                <option [ngValue]="350000">$350,000</option>
                <option [ngValue]="300000">$300,000</option>
                <option [ngValue]="250000">$250,000</option>
                <option [ngValue]="200000">$200,000</option>
                <option [ngValue]="150000">$150,000</option>
                <option [ngValue]="100000">$100,000</option>
              </select>
            </div>
          </div>
        </div>
        <button type="button" mat-button matStepperNext class="next btn btn-info">Next</button>

      </fieldset>
    </mat-step>
    <mat-step label="Step 2">
      <fieldset>
        <h4> Step 2: Health Questions</h4>

        <div class="mb-3">
          <label for="health">Do you take any prescription medications?</label>
          <div class="input-group">
            <mat-radio-group [ngModel]="userQuote.health1" name="health1" #health1="ngModel">
              <div class="form-check">
                <mat-radio-button  required ngDefaultControl value="true" id="health1-1">Yes</mat-radio-button>
              </div>
              <div class="form-check">
                <mat-radio-button value="false" ngDefaultControl id="health1-2">No</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div class="mb-3">
          <label for="health">Have you ever had any health conditions such as diabetes, cardiovascular disease, cancer, depression, or surgeries?</label>
          <div class="input-group">
            <mat-radio-group name="health2" [ngModel]="userQuote.health2" #health2="ngModel">
              <div class="form-check">
                <mat-radio-button checked="checked" required value="true" ngDefaultControl id="health2-1">Yes</mat-radio-button>
              </div>
              <div class="form-check">
                <mat-radio-button value="false" name="health2" id="health2-2" ngDefaultControl>No</mat-radio-button>
              </div>
            </mat-radio-group>

          </div>
        </div>

        <div class="mb-3">
          <label for="health">Do you use Nicotine/Tobacco</label>
          <div class="input-group">
            <mat-radio-group name="health3" [ngModel]="userQuote.health3" #health3="ngModel">
              <div class="form-check">
                <mat-radio-button checked="checked" required ngDefaultControl value="true" id="health3-1">Yes</mat-radio-button>
              </div>
              <div class="form-check">
                <mat-radio-button value="false" ngDefaultControl id="health3-2">No</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <button type="button" name="previous" mat-button matStepperPrevious class="previous btn btn-default">Previous</button>
        <button type="button" name="next" mat-button matStepperNext class="next btn btn-info">Next</button>
      </fieldset>
    </mat-step>
    <mat-step label="Step 3">
      <fieldset>
        <h4>Step 3: Employement</h4>
        <div class="form-group">
          <label for="occupation">Occupation</label>


          <occupation-select (occupationChanged) = "this.occupationSelected = $event"></occupation-select>
        </div>
        <div class="form-group">
          <label for="income">Monthly Salary $</label>
          <input type="number" class="form-control" min="0" name="income" [ngModel]="userQuote.income" required #income="ngModel" name="income"
            placeholder="Monthly Income" />
        </div>
        <div class="alert alert-warning" role="alert" style="margin-top:10px">
            <strong>If you need more information, Please visit us at one of our desks to fill a detailed application.</strong>
          </div>
        <button type="button" name="previous" mat-button matStepperPrevious class="previous btn btn-default">Previous</button>
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Continue</button>

        <div class="alert alert-danger small" [hidden]="f.valid" role="alert" style="margin-top:10px">
          <strong>You need to fill all the form to continue !</strong>
        </div>
      </fieldset>
    </mat-step>
  </mat-horizontal-stepper>
</form>

<quote-result *ngIf="completed" [rates]="rates" [quote]="userQuote" [type]="type"></quote-result>
