.quote {
    margin: 0 auto;
    border-left-style: solid;
    border-right-style: solid;
    border-width:1px; 
    border-color: gray ;
}


.simulator {
  background-color:#f8f9fa
}


:host ::ng-deep .mat-horizontal-stepper-content, :host ::ng-deep .mat-radio-label-content, :host ::ng-deep .mat-step-text-label{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}