<product-item>
  <h1 class="mt-4 mb-3 title">Universal Life
    <small>Insurance</small>
  </h1>
  <div class="jumbotron full-width"></div>
  <div class="plan">
    <p>Universal life insurance policies offer flexible premiums that may allow you to adjust how much you'll pay each year
      by accessing some of the policy's cash value (though you will need to pay the minimum premium amount or the policy
      will lapse).</p>
    <p>Depending on your policy's potential cash value, it may be used to skip a premium payment, or be left alone with the
      potential to accumulate value over time.</p>
  </div>
  <div class="advantages">
    <p class="card-text">Protection for life – It doesn’t expire.</p>
    <hr>
    <p>Access to Your Money – Use the cash value you’ve accumulated in your policy to supplement your income in retirement.</p>
    <hr>
    <p>Single or Joint Coverage – Choose coverage for yourself only, for yourself and your spouse, and/or for other family members.</p>
    <hr>
    <p>Tax-Effective Investing – The interest you earn is not taxable, which can help you grow your money faster.</p>
  </div>
  <ng-container class="maincovers">
    <strong>Lifetime Coverage</strong> : Coverage is for life and cannot be cancelled or changed</ng-container>
  <ul class="optionalcovers">
    <li>Family Income Benefit.</li>
    <li>Accidental Death Benefit.</li>
    <li>Hospitalization Benefit.</li>
    <li>Passive War Risk: A cover in times of war or war-like circumstances, granting you protection in case of death or total
      permanent disablement.</li>
  </ul>

  <ul class="glance">
    <li>Min Entry Age : 18; Max Entry Age : 94</li>
    <li>Coverage Term : Whole Life</li>
    <li>Minimum Amount : USD 100K</li>
  </ul>

  <ul class="choice">
    <li>Are a Lebanese Citizen</li>
    <li>Are a permanent resident/landed immigrant who have been in Lebanon over 12 months</li>
    <li>Are age 18 to age 94</li>
    <li>Want permanent life insurance coverage</li>
    <li>Are financially secure and want to grow your wealth</li>
    <li>Are nearing retirement and want to preserve your estate</li>
  </ul>

  <div class="premium">
    If you don’t smoke, lead a healthy lifestyle and have a positive family history, you may qualify for discounted preferred
    rates.
  </div>
  <div class="exclusions">
    During the application process, if we are given incorrect or incomplete information regarding age, gender, health, lifestyle
    or smoking habits, we reserve the right to deny or adjust your benefit.
    <ul>
      <li>During the first two years of coverage, if death is due to suicide, then no benefit is payable.</li>
      <li>During the application process, if we are given incorrect or incomplete information regarding age, gender, health,
        lifestyle or smoking habits, we reserve the right to deny or adjust your benefit.</li>
      <li>Four definitions of disability are recognized for coverage under the disability benefit; additional exclusions apply.</li>
      <li>Operating a motor vehicle while your blood alcohol level is more than the legal limit when the accident occurs</li>
      <li>Other exclusions may apply depending on optional benefits chosen.</li>
    </ul>
  </div>


  <p class="quotelink">
    <a routerLink="/quote/universal-life" class="btn btn-info btn-lg">Get a Quote &raquo;</a>
  </p>
</product-item>
