/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~font-awesome/css/font-awesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~material-design-icons/iconfont/material-icons.css';

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 100px;
  *margin-bottom: 60px;
  *background-color: rgb(235, 245, 245);
  background-color: #f8f9fa !important;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.preloader {
  bottom: 50%;
  right: 50%; 
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;

}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


/* Angular Material Custom*/
.mat-step-header .mat-step-icon{
  background-color : #c2185b
}

