



<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <!-- <div class="jumbotron well full-width">
    <div class="container">
      <h1 class="display-3">Life Insurance</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div> -->

   <!-- Masthead -->
   <header class="masthead text-white text-center full-width">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-10 mx-auto">
            <h1 class="mb-5">No one can surely predict the future. But we can protect it !</h1>
          </div>
           <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              
                <div class="col-12">
                  <a routerLink="/products" class="btn  btn-lg btn-info">See Our Products</a>
                
                </div>
              
            
          </div> 
        </div>
      </div>
    </header>


    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-people m-auto text-info"></i>
                </div>
                <h3>Term Life Insurance</h3>
                <p class="lead mb-0">Possibility to choose the contract period according to your insurance needs!</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-layers m-auto text-info"></i>
                </div>
                <h3>Whole Insurance</h3>
                <p class="lead mb-0">The Whole Life insurance policy could be the most important decision you ever make!</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-globe m-auto text-info"></i>
                </div>
                <h3>Universal Insurance</h3>
                <p class="lead mb-0">Universal Life Insurance provides both flexibility and financial advantages!</p>
              </div>
            </div>
          </div>
        </div>
      </section> 
  
</main>
